VITE_BASEROW_KEY=your_baserow_api_key_here
VITE_BASEROW_URL=https://api.baserow.io/api/database/rows/table/
VITE_BASEROW_TABLE_SCIENCES=193269
VITE_BASEROW_TABLE_RESOURCES=193270
VITE_BASEROW_TABLE_QURAN=488824
VITE_TRANSLATOR_KEY=your_ms_translator_key_here
VITE_TRANSLATOR_URL=https://api.cognitive.microsofttranslator.com/translate
VITE_PSE_CX=your_google_pse_cx_here
