.firebase/
.vscode/
.idea/
dist/
node_modules/
.DS_Store
.env
.env.local
.env.*.local
*.jks
*.keystore
keystore.properties
android/fastlane/.env
android/fastlane/google-play-key.json
*.log
npm-debug.log*
Thumbs.db

# iOS (Xcode)
ios/**/xcuserdata/
ios/**/*.xcuserstate
ios/**/.DS_Store
