@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body,
  * {
    font-family: 'Amiri', serif;
    color: #0010CF;
    -webkit-tap-highlight-color: transparent;
  }

  :root {
    --color-blue: #0010CF;
    --color-green: #2E8B57;
    --color-highlight: #EEF2FF;
    --color-disabled: #CBD5E1;
  }
}
